.App input {
  padding: 10px;
  border: 2px solid rgb(82, 82, 82);
  border-radius: 4px;
  margin: 20px;
}

.App .parks {
  margin: 20px;
}

.App .park {
  cursor: pointer;
}

.App .park:hover {
  background: rgb(206, 206, 206);
}

.App .marker {
  background: #0078967a;
  height: 7px;
  width: 7px;
  border-radius: 50%;
}
